@import '../App.scss';

@media (max-width: 425px) {
    .friend-list {
        position: fixed !important;
        transition: 0.3s;

        Nav {
            height: 57px;
        }
    }

    .friend-list.open {
        transform: translateX(75%);
    }
}

.friend-list {
    .media {
        align-items: center;
        padding: 6px 18px;

        img {
            border-radius: 25px;
        }
    }

    .media:hover {
        cursor: pointer;
        background-color: #3b4148;
    }
}
