.media {
    align-items: center;
    padding: 12px 12px;
    border-radius: 8px;

    h6 {
        margin: 0;
    }
}

.media:hover {
    cursor: pointer;
    background-color: $secondary-bg-color;
}

.media-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
