html,
body,
#root {
    height: 100%;
}
body {
    font-family: 'Archivo', sans-serif;
    background-color: $bg-color;
    color: #fff;
}

/* Custom Theme */

.btn-hidden {
    color: $base-color;
    border-color: $base-color;

    &:hover {
        color: $bg-color;
        background-color: $base-color;
    }

    &:focus {
        box-shadow: none;
    }
}

.btn-hidden-option {
    color: #fff;
    background-color: #20222586;
    border-radius: 50px;

    &:hover {
        color: #c21c1c;
    }

    &:focus {
        box-shadow: none;
    }
}

label {
    color: #8e8e8e;
    font-size: 0.8rem;
    font-weight: 500;
    text-transform: uppercase;
}

.form-control {
    background-color: $bg-color;
    border-color: #0c0c0c;
    color: #fff;

    &:focus {
        background-color: $bg-color;
        border-color: $base-color;
        box-shadow: none;
        color: #fff;
    }
}

form {
    a {
        color: $base-color;
    }
}

/* Navbar */

Nav {
    border-bottom: 1px solid rgba($color: #1d1c1c, $alpha: 0.3);
}

.mobile-menu {
    width: 24px;
}

.main-title {
    h1 {
        text-transform: uppercase;
        font-family: 'Archivo', sans-serif;
        font-size: 3.6rem;
        font-weight: 700;
        color: $base-color;
    }

    h2 {
        font-size: 1.5rem;
    }

    p {
        color: #fff;
    }
}
