.chat {
    display: flex;
    flex-direction: column;

    .messages {
        overflow-y: scroll;
        flex-grow: 1;
    }

    .input-group {
        width: auto;
    }
}

@media (max-width: 425px) {
    .chat {
        position: fixed !important;
        transition: 0.3s;
    }
    .chat.open {
        transform: translateX(75%);
    }
}
