.user-profile {
    display: flex;
    align-items: center;
    background-color: $secondary-bg-color;
    padding: 12px;

    img {
        border-radius: 25px;
    }

    .username {
        flex-grow: 1;
    }
}
